<div id="welcome-container">
    <div id="intro">
            <h1>hi there!</h1>
            <p>my name is Justin and i'm a high school hacker from the silicon valley...</p>
    </div>

    <div class="macbook-wrapper">
        <%= image_tag('macbook.png', :alt => 'My Macbook', :class => 'mac') %>
    </div>
    <!-- <p style="margin-top: 120px; padding: 100px; border: 2px grey dashed; overflow: hidden; text-align: center;">add illustration here...</p> -->
</div>
