<div id="welcome-container">
    <div id="intro">
        <a id="fn">justin</a> / <a id="ln">yu</a>
    </div>
    <div style="text-align: center;">
        <a href="/posts" class="read-button">read stuff</a>
    </div>
    <div class="macbook-wrapper">
        <%= image_tag('macbook.png', :alt => 'My Macbook', :class => 'mac') %>
    </div>
    <!-- <p style="margin-top: 120px; padding: 100px; border: 2px grey dashed; overflow: hidden; text-align: center;">add illustration here...</p> -->
</div>
