<div id="posts-wrapper">

    <%= image_tag('blog-large.png', :alt => 'Blog', :class => 'blog-photo') %>

    <% @posts.each do |post| %>
        <div class="post">
            <h2 class="post-title"><%= link_to post.title, post %></h2>
            <p class="date"><%= post.created_at.strftime('%b %d, %Y') %></p>
            <hr>
        </div>
    <% end %>

    <%= link_to 'Create a Post', new_post_path %>

</div>
