<div id="about-wrapper">
    <div class="about-img-wrapper">
        <%= image_tag('about.jpg', :alt => 'Los Altos Hacks Opening Ceremony', :class => 'about-img') %>
        <h4><em>the Los Altos Hacks opening ceremony</em></h4>
    </div>

    <hr>

    <p>
        <strong>name: </strong> Justin Yu
    </p>
    <p>
        <strong>grade: </strong> 10
    </p>
    <p>
        <strong>school: </strong> Los Altos High School
    </p>
    <p>
        <strong>where I live / favorite tv show: </strong> Silicon Valley
    </p>
    <p>
        <strong>interests: </strong>
        <ul>
            <li>computer science</li>
            <li>robotics</li>
            <li>designing and building things</li>
            <li>speech & debate</li>
            <li>entrepreneurship</li>
            <li>hackathons</li>
            <li>writing</li>
        </ul>
    </p>

</div>
