#about-wrapper {

    color: $darkgrey;

    .mobile-divider {
        display: none;
    }

    .panel-wrapper {
        max-width: 768px;

        margin: 0 auto;
        display: inline-block;
        white-space: nowrap;

        .left-about-panel {
            width: 45%;

            display: inline-block;
            white-space: normal;
            vertical-align: middle;
            padding: 1rem;
        }

        .right-about-panel {
            width: 45%;
            display: inline-block;
            white-space: normal;
            vertical-align: middle;
            padding: 1rem;
        }
    }

    .about-img-wrapper {
        max-width: 600px;
        text-align: center;
        vertical-align: middle;
        margin: 0 auto;

        .about-img {
            border-radius: 5px;
            max-width: 100%;
            display: block;
        }
        h4 {
            font-weight: 200;
            color: $mediumgrey;
        }
    }

    p {
        font-size: 1.5rem;
        margin: 1rem auto;
    }

    ul {
        margin: 0;
    }
    li {
        font-style: italic;
        font-size: 1.2rem;
        color: $darkgrey;
    }
    margin-bottom: 0;
}

@media screen and (max-width: 40em) {
    #about-wrapper {
        .panel-wrapper {
            width: 100%;
            display: block;

            .left-about-panel {
                padding: 0;
                width: 100%;
                display: block;
            }

            .right-about-panel {
                padding: 0;
                width: 100%;
                display: block;
            }
        }
        .mobile-divider {
            display: block;
        }
        margin-bottom: 3rem;
    }
}
