/*
* Manifest CSS File
*= require responsive-nav
*/

// Requisite imports
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,700,600,300);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono|Cutive+Mono);

@import "normalize";
@import "font-awesome-sprockets";
@import "font-awesome";

$darkgrey: #383838;
$lightgrey: #EBEBEB;
$mediumgrey: #8F8F8F;
$red: #E67373;

* {
    font-family: 'Cutive Mono';
}

.nav-collapse {

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    // ul {
    //     list-style: none;
    //     text-align: center;
    //     padding-left: 0;
    //     li {
    //         display: inline-block;
    //         vertical-align: middle;
    //         margin: 1rem 1.5rem 1rem 1.5rem;
    //     }
        // li > a {
        //     color: $mediumgrey;
        //     text-decoration: none;
        //     &.current {
        //         border-bottom: 2px $red solid;
        //     }
        //
        //     &:hover {
        //         border-bottom: 2px $red solid;
        //     }
        // }
    // }

    text-align: center;
    ul {
        margin: -1rem auto 0 auto;
        list-style: none;
        width: 100%;
        display: inline-block;
    }
    @media screen and (min-width: 40em) {
        ul {
            margin: 1.5rem auto 0 auto;
            list-style: none;
            width: 100%;
            display: inline-block;
        }
    }
    li {

        display: inline-block;
        vertical-align: middle;
        width: 100%;
        margin-bottom: 2rem;
    }
    @media screen and (min-width: 40em) {
        li {
            display: inline-block;
            vertical-align: middle;
            width: 6rem;
        }
    }
    li > a {
        color: $mediumgrey;
        text-decoration: none;
        &.current {
            border-bottom: 2px $red solid;
        }

        &:hover {
            border-bottom: 2px $red solid;
        }
    }
    a {
        color: $mediumgrey;
        text-decoration: none;
        width: 100%;
        border-bottom: 1px solid white;
    }
}

// Toggle

.nav-toggle {
    display: inline-block;
    float: right;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    text-indent: -999px;
    position: relative;
    overflow: hidden;
    width: 30px;
    height: 50px;
    margin-top: 0.6rem;
    text-align: center;
}
@media screen and (min-width: 40em) {
    .nav-toggle {
        display: none;
        visibility: collapse;
    }
}
.nav-toggle:before {
  color: $red;
  font-family: "responsivenav", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 3.6rem;
  text-transform: none;
  position: absolute;
  content: "≡";
  text-indent: 0;
  text-align: center;
  line-height: 55px;
  speak: none;
  width: 100%;
  top: 0;
  left: 0;
}

@font-face {
  font-family: "responsivenav";
  // src:url("../images/icons/responsivenav.eot");
  // src:url("../images/icons/responsivenav.eot?#iefix") format("embedded-opentype"),
  //   url("../images/icons/responsivenav.ttf") format("truetype"),
  //   url("../images/icons/responsivenav.woff") format("woff"),
  //   url("../images/icons/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal;
}

#separator-main {
    display: block;
    visibility: visible;
    width: 100%;
    margin-top: 1em;
    border: 0;
    background-color: $lightgrey;
    height: 1px;
    margin-bottom: 3rem;
}
@media screen and (min-width: 40em) {
    #separator-main {
        display: none;
        visibility: collapse;
    }
}

// Misc.
#content-main {
    margin-top: 1.5rem;
}

.skinny-wrapper {
    max-width: 700px;
    width: 85%;
    margin: 0 auto;
}

.logo-wrapper-outside {
    display: inline-block;
    visibility: visible;
    margin: 1.5rem 0 0.5rem 0;
    width: 38px;
    height: 38px;
    .logo-link {
        .logo {
            max-width: 100%;
            max-height: 100%;
        }
    }
}
@media screen and (min-width: 40em) {
    .logo-wrapper-outside {
        display: none;
        visibility: collapse;
    }
}

.logo-wrapper {
    display: none;
    visibility: collapse;
    width: 38px;
    height: 38px;
    .logo-link {
        .logo {
            max-width: 100%;
            max-height: 100%;
        }
    }
}
@media screen and (min-width: 40em) {
    .logo-wrapper {
        display: block;
        visibility: visible;
    }
}

#main-footer {
    padding: 1.5rem 5%;
    margin: 2rem auto;
    border-top: 1px solid $lightgrey;
    .copyright {
        float: left;
        font-size: 0.9em;
        margin: 0;
        color: $mediumgrey;
    }
    nav {
        float: right;
        i {
            color: $mediumgrey;
            margin: 0 auto;
            margin-top: 0.2rem;
            margin-left: 1.5rem;
        }
    }
}

// Imports
@import 'welcome';
@import 'posts';
@import 'github_pygments';
