hr {
    width: 12rem;
    display: block;
    border: 0;
    border-top: 1px solid $subtitlegrey;
    margin: 3rem auto;
}

.button {
    text-decoration: none;
    border: darken($lightgrey, 10%) 1px solid;
    color: $darkgrey;
    padding: 0.6rem 2rem;
    border-radius: 0.8rem;
    outline: none;
    background-color: white;

    transition: 0.2s;

    &:hover {
        -webkit-box-shadow: 0px 6px 13px 0px rgba(209,209,209,1);
        -moz-box-shadow: 0px 6px 13px 0px rgba(209,209,209,1);
        box-shadow: 0px 6px 13px 0px rgba(209,209,209,1);
    }
}

#posts-wrapper {
    .new_post_path {
        display: block;
        margin-bottom: 4rem;
    }
    .new_post_link {
        display: inline-block;
        margin: 1rem 0;
    }
    .post {
        margin-bottom: 3rem;
        .post-title > a {
            font-size: 1.8rem;
            text-decoration: none;
            color: $darkgrey;
            &:hover {
                border-bottom: 2px $red solid;
            }
        }
        .post-title {
            margin-top: 0.8rem;
        }
        .date {
            font-size: 1rem;
            font-weight: 400;
            color: $mediumgrey;
            span {
                margin: 0 1rem;
            }
            display: inline-block;
        }
        .snippet {
            font-family: 'Charter';
            letter-spacing: 0.65px;
            font-weight: 200;
            color: #444;
            font-size: 1.3rem;
            line-height: 2rem;
        }
        &.featured {
            .featured-label {
                display: inline-block;
                float: right;
                background-color: $red;
                color: white;
                padding: 4px 8px;
                border-radius: 4px;
            }
            margin-top: 1rem;
        }

        @media screen and (max-width: 40em) {
            .date { display: block; }
            &.featured .featured-label {
                float: none;
                margin: 1rem 0 1.5rem 0;
            }
            .snippet {
                font-size: 1.05rem;
                line-height: 1.6rem;
                margin-left: 0;
                padding-left: 0;
            }
            .post-title a {
                font-size: 1.6rem;
            }
        }
    }
}

.post-show-wrapper {
    .back-link {
        text-decoration: none;
        color: $red;
        display: block;
    }
    // Individual Element Styles
    .post {
        color: $darkgrey;
        .title {
            font-size: 2rem;
            margin: 0;
            padding: 0;
        }
        .date {
            margin-top: 3rem;
            font-size: 1rem;
            font-weight: 400;
            color: #999999;
        }
        // .article-header {
        //     h2 {
        //         font-size: 2rem;
        //         margin-bottom: 1rem;
        //     }
        //     h4 {
        //         color: $mediumgrey;
        //         font-size: 1.3rem;
        //         margin: 0;
        //     }
        //     margin-bottom: 2rem;
        // }
        blockquote {
            border-left: $red solid 4px;
            padding-left: 20px;
            font-style: italic;
            margin: 3rem 0;
        }
        strong, em, a {
            font-family: 'Charter';
        }
        a {
            font-style: italic;
            color: $red;
            text-decoration: none;
        }
        span {
            font-family: Courier;
        }
        h1 {
            font-size: 2rem;
        }
        h2 {
            font-size: 1.5rem;
            color: $mediumgrey;
            font-weight: 200;
        }
        p, li {
            font-family: 'Charter';
            letter-spacing: 0.65px;
            font-weight: 200;
            color: #444;
            font-size: 1.3rem;
            line-height: 2rem;
        }
        li {
            margin-bottom: 1.2rem;
        }
        img {
            max-width: 100%;
            margin: 3rem auto;
            display: block;
        }

        @media screen and (max-width: 40em) {
            .title {
                font-size: 1.6rem;
            }
            h1 {
                font-size: 1.6rem;
            }
            h2 {
                font-size: 1.4rem;
            }
            p, li {
                font-size: 1.05rem;
                line-height: 1.6rem;
                margin-left: 0;
                padding-left: 0;
            }
        }
    }
}

.edit_link, .delete_link {
    display: inline-block;
    margin: 2rem 1rem 0 0;
}

#edit_title {
    font-size: 2rem;
    text-align: center;
    color: $red;
}

// disqus

#disqus_thread {
    margin-bottom: 2rem;
}

// form

.edit_post, .new_post {
    margin-bottom: 4rem;
    input[type="text"], textarea {
        width: 100%;
        max-width: 90%;
        padding: 1rem 1rem;
        outline: none;
        border: $lightgrey 1px solid;
        border-radius: 5px;
        margin-top: 20px;
    }

    label {
        display: block;
        margin-top: 1rem;
    }

    #post_title {
        font-size: 2rem;
        font-weight: bold;
        padding: 2px;
        border: none;
    }

    #post_time {
        border: none;
        font-size: 1.5rem;
        outline: none;
        margin-top: 20px;
    }

    #post_snippet {
        font-family: 'Charter';
        letter-spacing: 0.65px;
        font-weight: 200;
        color: #444;
        font-size: 1.3rem;
        line-height: 2rem;
        min-height: 200px;
    }

    #post_content {
        font-family: Courier;
        min-height: 100vh;
    }

    input[type="submit"] {
        border: darken($lightgrey, 10%) 1px solid;
        color: $darkgrey;
        padding: 0.8rem 2rem;
        border-radius: 0.8rem;
        outline: none;
        background-color: white;

        transition: 0.2s;

        &:hover {
            -webkit-box-shadow: 0px 6px 13px 0px rgba(209,209,209,1);
            -moz-box-shadow: 0px 6px 13px 0px rgba(209,209,209,1);
            box-shadow: 0px 6px 13px 0px rgba(209,209,209,1);
        }
    }
    input[type="number"] {
    }
}
