<!DOCTYPE html>
<html>
<head>
  <title>Justinvyu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="content">
    <div id="content-sidebar">
        <ul>
            <li>
                <div class="logo">
                    LOGO
                </div>
            </li>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/posts">Blog</a>
            </li>
            <li>
                <a href="#">Projects</a>
            </li>
            <li>
                <a href="#">Experience</a>
            </li>
            <li>
                <a href="">Contact</a>
            </li>
        </ul>
    </div>
    <div id="content-main">
        <%= yield %>
    </div>
</div>
</body>
</html>
